{% extends "base/base.html" %}

{% block title %}比赛规则{% endblock %}

{% block content %}
    <h1 class="page-header">112张东北麻将规则</h1>
    <div class="page-header">
        <h3>牌库</h3>
    </div>
    <div class="well">
        <p>万饼条各36张， 中4张。共112张。</p>
    </div>
    <div>
        <h3>至少一个“幺”或“九”</h3>
    </div>
    <div class="well">
        <p>中可算幺久。</p>
    </div>
    <div>
        <h3>至少一套“大屏”（杠）</h3>
    </div>
    <div class="well">
        <p>"大屏"即三个一样,"杠"即四个一样。中可算大屏。</p>
    </div>
    <div>
        <h3>胡牌规则</h3>
    </div>
    <div class="well">
        <p>普通胡牌和七小对。普通胡牌即为m*ABC+n*BBB+DD, 其中m+n=4。</p>
    </div>
    <div>
        <h3>翻胡规则</h3>
    </div>
    <div class="well">
        <p>庄家、门清、清一色、自摸、七小对,每符合一项翻一翻。</p>
    </div>
    <div>
        <h3>杠牌规则</h3>
    </div>
    <div class="well">
        <p>"明杠"即为玩家自行抓取,其余每个玩家给base;"暗杠"即为吃、碰获取,其余每个玩家给2 * base。</p>
    </div>
{% endblock %}